// Define variables for your color scheme

// For example:
$gold-light: #F9D99C;
$gold-dark: #C7A667;
$green: #0FD05C;
$green-dark: #07903E;
$grey-01: #101010;
$grey-02: #4C4C4C;
$grey-03: #878787;
$grey-04: #C3C3C3;
$grey-05: #FAFAFA;
