
.card-product {
  border-radius: 10px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


.my-player-card {

  height: 300px;
  overflow: hidden;
  background-color: $grey-05;
  border-radius: 15px;
}

.my-player-info {
  padding: 60px, 60px;
}

.my-player-info h2 {
  padding-top: 20px;
  font-size: 32px;
  font-weight: 500;

}

.tag-player p {
color: $grey-01;
font-weight: 700;
text-align: start;
margin: auto;

}

.my-player-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
