.container-fluid-dash {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.card-player-dashboard {
  padding-right: 50px;
}
.user-rent {
  margin-right: 20px;
}
h1 {
font-size: 50px;
}

h2 {
  font-size: 40px;
}

h5 {
  font-size: 36px;
  font-weight: 500;
}

p {
  font-size: 22px;
  font-weight: 300;
  color: $grey-04;
}

.card-info-dash {
  padding-right: 50px;
  padding-left: 20px;
}
.card-info-dash p {
  font-size: 16px;
  font-weight: 300;
  padding-right: 100px;
}

.status-dash {
  display: flex;
  align-items: center;
  padding: 20px 5px;
  background-color: $grey-05;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.fa-regular {
  color: $green;
  padding: 10px;
}

.status-p {
  margin: 0 !important;
}
