// Import page-specific CSS files here.
@import "home";

.container {
  width: 90%;
  padding: 10px;

}

.title {
text-align: left;
background: linear-gradient($grey-05, white);
padding-top: 86px;}

.freshly-added h2 {
font-weight: 700;
font-size: 50px;
}

.freshly-added p {
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}
