// Import page-specific CSS files here.
@import "home";

.title {
text-align: left;
}

.freshly-added h2 {
font-weight: 700;
font-size: 50px;
line-height: 90%;
}

.freshly-added p {
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}

.myBtnContainer {
  padding: 100px 0px
}

.cards {
  padding: 100px 0px

}
