.banner {
  background-size: cover;
  background-position: center;
  text-align: left;

}


.banner .text {
padding-left: 30px;
padding-right: 600px;
padding-top: 400px;
padding-bottom: 100px;

}

.banner h1 {
  line-height: 100px;
  color: $grey-05;
  font-size: 96px;
  font-weight: 700;
}

.banner h4 {

  color: $grey-05;
  font-size: 24px;
  font-weight: 500;
}
