.booking h1 {
  position: relative;
  text-align: center;
}

.formulaire .booking {
  position: relative;
  top: 10px;
  left: 20px;
}

.cardz-player {
  width: 200px;
  height: 300px;
  justify-content: center;
}

.cardz-player img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardz-info {
  font-size: 18px;
}
