.text-btn-green-flat {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
	color: $grey-01;
  padding: 20px 70px;
}

.btn-green-flat  {
	background-color: $green;
	border-radius: 10px;
  text-align: center;
  width: 250px;


}
