.card-player {
  border-radius: 10px;
  background: $grey-05;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-player .image-player {
  height: 300px;
  width: 100%;
  object-fit:contain;


}

.card-player h2 {
  color: $grey-01;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.card-player h3 {
  color: $grey-01;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}


.card-player p {
  font-size: 16px;
  color: $grey-03;
}

.card-player-info {
  padding: 20px;

}



.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
