h1 {
  text-align: center;
}

// form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

input, textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="submit"] {
  background-color: #07903E;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0FD05C;
}
