.navbar {
  justify-content: center;
  margin-top: 25px;
  position: absolute;
  width: 100%;
}

.search-bar {
  margin-top: 25px;
  position: absolute;
  justify-content: center;
  width: 1265px;
  height: 60px;
  background: $grey-05;
  border-radius: 15px;
}
